html {
    scroll-behavior: smooth;
}

body {
    background-color:#F5F5DC;
    margin: 0;
    padding: 30px 0;
    font: Georgia (serif);
    text-align: center;
}

header {
    background-color:transparent; 
    color: #800020;            
    padding: 20px;
}


.nav-container-stacked {
    display: flex;
    flex-direction: column;   
    align-items: center;       
    max-width: 850px;              
    margin: 30px auto;
    padding: 0 20px;
}


.nav-container-stacked .home-btn-top {
    display: inline-block;
    width: 200px;              
    text-align: center;
    background-color: #800020; 
    color: #FFFFFF;           
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 12px 0;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;       
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.nav-container {
    text-align: center;
    background-color:#800020; 
    max-width: 850px;               
    margin: 20px auto 35px auto;    
    padding: 15px 25px;           
    border-radius: 30px;            
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}


.nav-container a {
    color:#FFFFFF;                  
    text-decoration: none;          
    font-weight: bold;
    font-size: 15px;
    margin: 0 15px;               
    display: inline-block;
    transition: color 0.2s ease;
}

.nav-container a:hover {
    color:#F5F5DC;                 
}

.split-columns-wrapper {
    display: flex;
    justify-content: space-between; 
    width: 100%;                 
}


.nav-column {
    display: flex;
    flex-direction: column;
    width: 46%;              
    gap: 12px;                 
}


.nav-container-stacked .nav-column a {
    display: block;
    text-align: center;
    background-color: #800020; 
    color: #FFFFFF;            
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 12px 0;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease, background-color 0.2s ease, color 0.2s ease;
}


.nav-container-stacked a:hover {
    background-color:#F5F5DC;
    color: #ffffff 
    transform: translateY(-2px);
}}.main-white-box {
    background-color:#800020;   
    max-width: 1100px;                       
    margin: 0 auto 30px auto;              
    padding: 40px;
    border-radius: 16px;                    
    box-shadow: 0 4px 20px rgba(163, 92, 92, 0.08);
    text-align: center;
}


h1, h2, h3 {
    color:#FFFFFF;            
    margin-top: 25px;
}

{
    color:#FFFFFF;            
    font-size: 15px;
    line-height: 1.6;
}
.content-section {
    background-color: #800020; 
    color: #FFFFFF;           
    max-width: 900px;
    margin: 40px auto;
    padding: 30px;
    border-radius: 15px;
}

.content-section h2 {
    color: #FFFFFF;          
    margin-top: 0;
}

.profile-pic {
    max-width: 300px; 
    width: 100%;      
    height: auto;      
    border-radius: 15px; 
    margin: 20px auto; 
    display: block;
}

.gallery-img {
    max-width: 300px; 
    width: 100%;      
    height: auto;      
    border-radius: 15px; 
    margin: 20px auto; 
    display: block;
}

.styled-table {
    width: 100%;
    max-width:800px;
    border-collapse: collapse;
    margin: 25px auto;
    font-size: 15px;
    border-radius: 8px;
    overflow: hidden; 
    box-shadow: 0 4px 10px rgba(163, 92, 92, 0.05);
}

.styled-table th {
    background-color: #F5F5DC;
    color: #800020;
    text-align: center;
    padding: 12px 15px;
    font-weight: bold;
}

.styled-table td {
    padding: 12px 15px;
    color: #FFFFFF; 
    border-bottom: 1px solid #43302E;
}

.styled-table tbody tr:hover {
    background-color:#F5F5DC; 
}
.styled-table th:not(:last-child),
.styled-table td:not(:last-child) {
    border-right: 1px solid #43302E; 
}

.scroll-link-container {
    text-align: center;
    margin: 20px 0;
}

.back-to-top-btn {
    font-size: 14px;
    color: #FFFFFF; 
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.back-to-top-btn:hover {
    color:#FFFFFF; 
}

.external-music-link {
    color: #FFFFFF; 
    text-decoration: underline;
    font-weight: bold;
    transition: color 0.3s ease;
}

.external-music-link:hover {
    color: #FFFFFF; 
}

#dynamic-greeting {
    color: #800020; 
} 


.clock-display p {
    color: #800020;       
    font-size: 15px;
    margin-top: 25px;
}


#datetime {
    color: #800020; 
    font-weight: bold;
}
     
}

#viewed-footer {
    color: #800020;     
    font-size: 16px;       
    margin-top: 10px;
    opacity: 0.7;   
    font-weight: bold;      
}



/* --- LEFT SIDE STACK --- */
#left-flower-1 {
    position: absolute;
    top:540px;         
    left: 80px;
    width: 150px;
    height: auto;
    z-index: 1;
}

#left-flower-2 {
    position: absolute;
    top: 350px;         
    left: 80px;         
    width: 110px;       
    height: auto;
    z-index: 1;
}

#left-flower-3 {
    position: absolute;
    top: 490px;         
    left: 85px;
    width: 110px;
    height: auto;
    z-index: 1;
}


/* --- RIGHT SIDE STACK --- */
#right-flower-1 {
    position: absolute;
    top: 350px;        
    right: 90px;
    width: 110px;
    height: auto;
    z-index: 1;
    transform: scaleX(-1); 
}

#right-flower-2 {
    position: absolute;
    top: 420px;        
    right: 90px;       
    width: 110px;
    height: auto;
    z-index: 1;
    transform: scaleX(-1);
}

#right-flower-3 {
    position: absolute;
    top: 610px;         
    right: 120px;
    width: 110px;
    height: auto;
    z-index: 1;
    transform: scaleX(-1);
}


body {
    margin: 0;
    padding: 0;
}

.banner-container {
    width: 100%;             
    height: 250px;           
    overflow: hidden;        
    margin-bottom: 35px;     
}

.banner-container img {
    width: 100%;             
    height: 100%;            
    object-fit: cover;       
    
    object-position: center center; 
}